SERVER_PORT=3001

# temp Root account login
SYS_EMAIL=root@vectoradmin.com
SYS_PASSWORD=password

JWT_SECRET="YoUr_RaNd0M_sTr1nG"
# STORAGE_DIR=
DATABASE_CONNECTION_STRING="postgresql://user:password@host:port/database"
